<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Server Index</h1>

  <ul>
  {% for link in links %}

  <li><a href="{{link.url}}">{{link.name}}</a></li>

  {% endfor %}
  </ul>
</body>
</html>
