<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  Sind Sie sicher, dass Sie {{ zu_loeschen_text }} loeschen wollen?

  <a href="{% url no_view zu_loeschen_id  %}">Nein</a><br/>
  <a href="{% url yes_view zu_loeschen_id %}?confirmed">Ja</a>
  
</body>
</html>
