<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p> 
  {{ding.name}}
  </p>
  <a href="{% url "loeschen" ding.id %}">loeschen</a>

</body>
</html>
