<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 Test Sicherheitsabfragen 

 <ul>
   {% for ding in dinge %}
   <li><a href="{% url "detail" ding.id %}">{{ding.name}}</a></li>
   {% endfor %}
 </ul>


</body>
</html>
